In [153]:
pip install workalendar

Collecting workalendar
  Downloading https://files.pythonhosted.org/packages/c6/93/a6bd967b9ff40361292456084bb2c2a52991a397e114850c973513ba8180/workalendar-12.0.0-py3-none-any.whl (178kB)
     |████████████████████████████████| 184kB 7.7MB/s eta 0:00:01
Requirement already satisfied: setuptools>=1.0 in /opt/anaconda3/lib/python3.7/site-packages (from workalendar) (41.4.0)
Collecting pyCalverter (from workalendar)
  Downloading https://files.pythonhosted.org/packages/4f/5c/57c6853f7a5bc41fc9da7651ae67b9c76381083742613faa7381724081e9/pyCalverter-1.6.1.tar.gz
Collecting skyfield (from workalendar)
  Downloading https://files.pythonhosted.org/packages/62/30/23507996b8cef91d21b313c7b86fd672e5f53c0e0af323f84e0400174bd1/skyfield-1.29.tar.gz (294kB)
     |████████████████████████████████| 296kB 12.0MB/s eta 0:00:01
Collecting pyluach (from workalendar)
  Downloading https://files.pythonhosted.org/packages/0f/1d/0944aab24d817a866d7aea97851c3d3c71c9e10f6efd93c43b18c856a9b4/pyluach-1.1.1-py3-none-any.whl
Collecting skyfield-data (from workalendar)
  Downloading https://files.pythonhosted.org/packages/c7/f0/5e40d2ae2cb78148193c24b36c8881c3b94a92d77e3d9d16b3a652f64524/skyfield_data-1.1.0-py2.py3-none-any.whl (16.0MB)
     |████████████████████████████████| 16.0MB 10.7MB/s eta 0:00:01
Requirement already satisfied: pytz in /opt/anaconda3/lib/python3.7/site-packages (from workalendar) (2019.3)
Collecting lunardate (from workalendar)
  Downloading https://files.pythonhosted.org/packages/4e/7e/377a3cbba646ec0cf79433ef858881d809a3b87eb887b0901cb83c66a758/lunardate-0.2.0-py3-none-any.whl
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.7/site-packages (from workalendar) (2.8.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from skyfield->workalendar) (2020.6.20)
Collecting jplephem>=2.13 (from skyfield->workalendar)
  Downloading https://files.pythonhosted.org/packages/c9/f0/e57456436531333455f40864622c5ae359654ccede8fe1156c3c2ac6c492/jplephem-2.15.tar.gz (40kB)
     |████████████████████████████████| 40kB 11.1MB/s eta 0:00:01
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from skyfield->workalendar) (1.17.2)
Collecting sgp4>=2.2 (from skyfield->workalendar)
  Downloading https://files.pythonhosted.org/packages/1b/2b/e8cf08690bd4c87a5fc2f1baadd130511b94c36523b8e926b9adc9786c70/sgp4-2.12-cp37-cp37m-macosx_10_6_intel.whl (170kB)
     |████████████████████████████████| 174kB 22.8MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil->workalendar) (1.12.0)
Building wheels for collected packages: pyCalverter, skyfield, jplephem
  Building wheel for pyCalverter (setup.py) ... done
  Created wheel for pyCalverter: filename=pyCalverter-1.6.1-cp37-none-any.whl size=4201 sha256=b8f087467fe42e852dbf9e150f37152beb384297736d9e167dec3c1c5351233c
  Stored in directory: /Users/alexei/Library/Caches/pip/wheels/77/4d/86/db4ff4eca6178dbbd5a365d095f97f6021e2a48f09908be79c
  Building wheel for skyfield (setup.py) ... done
  Created wheel for skyfield: filename=skyfield-1.29-cp37-none-any.whl size=332707 sha256=8a347e79ec8fa5f28f4e1269d71c44dec9836f67f52837c7591c4d7880ea2e3c
  Stored in directory: /Users/alexei/Library/Caches/pip/wheels/fa/2c/b8/7f2addfbf142438d2ca8cf5c083b6a6865478ba5bccadf7c43
  Building wheel for jplephem (setup.py) ... done
  Created wheel for jplephem: filename=jplephem-2.15-cp37-none-any.whl size=46020 sha256=bd5cadfc24577d3dc68767493bfb0c944f7182eb3ceb4075def022685dde34a4
  Stored in directory: /Users/alexei/Library/Caches/pip/wheels/01/71/9c/beaa33beb607ef67b62765324a10cd3584e30fbeef8856b7a8
Successfully built pyCalverter skyfield jplephem
Installing collected packages: pyCalverter, jplephem, sgp4, skyfield, pyluach, skyfield-data, lunardate, workalendar
Successfully installed jplephem-2.15 lunardate-0.2.0 pyCalverter-1.6.1 pyluach-1.1.1 sgp4-2.12 skyfield-1.29 skyfield-data-1.1.0 workalendar-12.0.0
Note: you may need to restart the kernel to use updated packages.

In [182]:
pip install holidays

Collecting holidays
  Downloading https://files.pythonhosted.org/packages/d9/c7/1d0cb8f69bb4caa252a0c95de66a34e0548cbf9d3f4a2353cba5ee5f566c/holidays-0.10.3.tar.gz (114kB)
     |████████████████████████████████| 122kB 6.2MB/s eta 0:00:01
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.7/site-packages (from holidays) (2.8.0)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from holidays) (1.12.0)
Collecting convertdate (from holidays)
  Downloading https://files.pythonhosted.org/packages/97/55/d016f15f0b7cf3b283abe386fb3f73a4b862ece57f387b7718bd3ea9313f/convertdate-2.2.2-py2.py3-none-any.whl (40kB)
     |████████████████████████████████| 40kB 8.4MB/s  eta 0:00:01
Collecting korean_lunar_calendar (from holidays)
  Downloading https://files.pythonhosted.org/packages/15/41/aa426a4a9141afd8e7f5c8312bb59d5693274f3f7b34e73bdce4ee48b4c1/korean_lunar_calendar-0.2.1-py3-none-any.whl
Collecting pymeeus<=1,>=0.3.6 (from convertdate->holidays)
  Downloading https://files.pythonhosted.org/packages/2c/30/47957d487fff94083bdd17247734c165f12b5ac39a3abd1aa476a93eea6e/PyMeeus-0.3.7.tar.gz (732kB)
     |████████████████████████████████| 737kB 10.2MB/s eta 0:00:01
Requirement already satisfied: pytz>=2014.10 in /opt/anaconda3/lib/python3.7/site-packages (from convertdate->holidays) (2019.3)
Building wheels for collected packages: holidays, pymeeus
  Building wheel for holidays (setup.py) ... done
  Created wheel for holidays: filename=holidays-0.10.3-cp37-none-any.whl size=115857 sha256=897524a3d04925f69fee25deaa9de0ecf676e75cda925530179c6b2bb8f5c14a
  Stored in directory: /Users/alexei/Library/Caches/pip/wheels/d3/a6/3c/4072c36c7d443be579c0917845e1b27fc1f09d4867c41e170d
  Building wheel for pymeeus (setup.py) ... done
  Created wheel for pymeeus: filename=PyMeeus-0.3.7-cp37-none-any.whl size=702877 sha256=5c550a42130210798cd0384a63ba378987140dee06caac9314ee249563aee709
  Stored in directory: /Users/alexei/Library/Caches/pip/wheels/8d/1a/e7/684cd77a99aac294f976db834fe613b5424f7c4d75ffb0b84d
Successfully built holidays pymeeus
Installing collected packages: pymeeus, convertdate, korean-lunar-calendar, holidays
Successfully installed convertdate-2.2.2 holidays-0.10.3 korean-lunar-calendar-0.2.1 pymeeus-0.3.7
Note: you may need to restart the kernel to use updated packages.

In [246]:
import pandas as pd
import numpy as np
import re
from datetime import datetime, timedelta
import calendar
import holidays

In [271]:
data = pd.read_csv('initial_dataset.csv')

In [272]:
data['equipement'][data['equipement'] == 'téléphone'] = 'telephone'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [273]:
items_to_retrieve = ['ordinateur', 'telephone']
data_cities = data[~(data['ville'] == 'Paris') & (data['equipement'].isin(items_to_retrieve))]

In [274]:
data_cities.loc[:, 'processed_date'] = data_cities.loc[:, 'date'].apply(lambda row : datetime(int(row.split('-', 2)[0]), int(row.split('-', 2)[1]), int(row.split('-', 2)[2])))

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [276]:
data_cities['previous_year'] = data_cities['processed_date'].apply(lambda row : row - timedelta(days=365))
data_cities['previous_year']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

3285   2016-01-02
3286   2016-01-03
3287   2016-01-04
3288   2016-01-05
3289   2016-01-06
          ...
8755   2018-12-27
8756   2018-12-28
8757   2018-12-29
8758   2018-12-30
8759   2018-12-31
Name: previous_year, Length: 4380, dtype: datetime64[ns]

In [277]:
data_cities

,date,equipement,ville,CA,processed_date,previous_year
3285,2017-01-01,ordinateur,Bordeaux,270.941633,2017-01-01,2016-01-02
3286,2017-01-02,ordinateur,Bordeaux,1894.634278,2017-01-02,2016-01-03
3287,2017-01-03,ordinateur,Bordeaux,1963.790266,2017-01-03,2016-01-04
3288,2017-01-04,ordinateur,Bordeaux,1560.772008,2017-01-04,2016-01-05
3289,2017-01-05,ordinateur,Bordeaux,1370.575521,2017-01-05,2016-01-06
...,...,...,...,...,...,...
8755,2019-12-27,telephone,Mont de Marsan,1867.309990,2019-12-27,2018-12-27
8756,2019-12-28,telephone,Mont de Marsan,676.055161,2019-12-28,2018-12-28
8757,2019-12-29,telephone,Mont de Marsan,187.797757,2019-12-29,2018-12-29
8758,2019-12-30,telephone,Mont de Marsan,250.705047,2019-12-30,2018-12-30
8759,2019-12-31,telephone,Mont de Marsan,1143.882652,2019-12-31,2018-12-31

In [278]:
CA_cum = data_cities.groupby(by=['ville', 'date']).sum().reset_index()
CA_cum

               ville        date           CA
0           Bordeaux  2017-01-01   698.943221
1           Bordeaux  2017-01-02  2488.772825
2           Bordeaux  2017-01-03  2193.420880
3           Bordeaux  2017-01-04  2027.977679
4           Bordeaux  2017-01-05  1964.652182
...              ...         ...          ...
2185  Mont de Marsan  2019-12-27  5898.324017
2186  Mont de Marsan  2019-12-28  1521.860482
2187  Mont de Marsan  2019-12-29   961.054653
2188  Mont de Marsan  2019-12-30  7586.278627
2189  Mont de Marsan  2019-12-31  9486.672602

[2190 rows x 3 columns]

In [279]:
def CA_cum_f(row) :
    ca_cum = CA_cum[(CA_cum['ville'] == row['ville'].iloc[0]) & \
                  (CA_cum['equipement'] == row['equipement'].iloc[0])]['CA']
    return ca_cum.iloc[0]


data_cities = data_cities.assign( CA_cumul = lambda row : CA_cum_f(row) )

KeyError: 'equipement'

In [280]:
def CA_previous_year(row) :
    ca = data_cities[(data_cities['date'] == row['previous_year'].iloc[0]) & \
                       (data_cities['ville'] == row['ville'].iloc[0]) & \
                       (data_cities['equipement'] == row['equipement'].iloc[0])]['CA']
    return ca


data_cities = data_cities.assign( CA_previous_year = lambda row : CA_previous_year(row) )

In [282]:
data_cities['weekday'] = data_cities['processed_date'].apply(lambda row : calendar.day_name[row.weekday()] )

In [283]:
data_cities['is_weekend'] = data_cities['weekday'].apply(lambda row : row in ['Sunday', 'Saturday'] )

In [288]:
years_list = data_cities.loc[:, 'date'].apply(lambda row : int(row.split('-', 2)[0])).unique()
#years_list

array([2017, 2018, 2019])

In [296]:
hols = []
for date in holidays.France(years=years_list).items() :
    hols.append(date[0])

    #hols

In [298]:
data_cities['is_bankholiday'] = data_cities['processed_date'].apply(lambda row : row in hols)

In [301]:
data_cities

,date,equipement,ville,CA,processed_date,previous_year,CA_previous_year,weekday,is_weekend,is_bankholiday
3285,2017-01-01,ordinateur,Bordeaux,270.941633,2017-01-01,2016-01-02,NaN,Sunday,True,True
3286,2017-01-02,ordinateur,Bordeaux,1894.634278,2017-01-02,2016-01-03,NaN,Monday,False,False
3287,2017-01-03,ordinateur,Bordeaux,1963.790266,2017-01-03,2016-01-04,NaN,Tuesday,False,False
3288,2017-01-04,ordinateur,Bordeaux,1560.772008,2017-01-04,2016-01-05,NaN,Wednesday,False,False
3289,2017-01-05,ordinateur,Bordeaux,1370.575521,2017-01-05,2016-01-06,NaN,Thursday,False,False
...,...,...,...,...,...,...,...,...,...,...
8755,2019-12-27,telephone,Mont de Marsan,1867.309990,2019-12-27,2018-12-27,NaN,Friday,False,False
8756,2019-12-28,telephone,Mont de Marsan,676.055161,2019-12-28,2018-12-28,NaN,Saturday,True,False
8757,2019-12-29,telephone,Mont de Marsan,187.797757,2019-12-29,2018-12-29,NaN,Sunday,True,False
8758,2019-12-30,telephone,Mont de Marsan,250.705047,2019-12-30,2018-12-30,NaN,Monday,False,False
8759,2019-12-31,telephone,Mont de Marsan,1143.882652,2019-12-31,2018-12-31,NaN,Tuesday,False,False

In [308]:
def min_dist(d, L_d) :
    for l_d in L_d :
        print(l_d - d)
    #return

In [310]:
data_cities['distance_between_closest_bank_holiday'] = \
data_cities['processed_date'].apply(lambda row : min_dist(row, hols))

TypeError: unsupported operand type(s) for -: 'datetime.date' and 'Timestamp'

In [ ]:
min_dist(row, hols)